<p id="notice"><%= notice %></p>

<p>
  <strong>Full name:</strong>
  <%= @userprofile.full_name %>
</p>

<p>
  <strong>Medical info:</strong>
  <%= @userprofile.medical_info %>
</p>

<p>
  <strong>Address:</strong>
  <%= @userprofile.address %>
</p>
<p>
  <strong>Picture:</strong>
  <%= image_tag @userprofile.pic.url %> 
  <br>
  <%= image_tag @userprofile.pic.url(:medium) %>
  <br>
  <%= image_tag @userprofile.pic.url(:thumb) %>
</p>

<%= link_to 'Edit', edit_userprofile_path(@userprofile) %> |
<%= link_to 'Back', userprofiles_path %>
