
<% form_tag({:action => :update_userprofile}) do |f| %>
  <% if @userprofiles.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@userprofiles.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @userprofiles.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :full_name %><br>
    <%= f.text_field :full_name %>
  </div>
  <%#= f.hidden_field :user_id, :value => current_user.id %>
  <div class="field">
    <%= f.label :medical_history %><br>
    <%= f.text_area :medical_history %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

