<h1>Listing bookings</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>F add</th>
      <th>E add</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
    <% if booking.user_id==current_user.id %>
      <tr>
        <td><%= booking.date %></td>
        <td><%= booking.fadd1 %></td>
        <td><%= booking.tadd1 %></td>
        <td><%= link_to 'Show', booking %></td>
        <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
        <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <% end %>
    <%# = link_to "Download pdf ", booking_path(:id, :format => "pdf" ) %>


  </tbody>
</table>

<br>

<%= link_to 'New Booking', new_booking_path %>
