<h1>Listing driverprofiles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @driverprofiles.each do |driverprofile| %>
      <tr>
        <td><%= driverprofile.name %></td>
        <td><%= link_to 'Show', driverprofile %></td>
        <td><%= link_to 'Edit', edit_driverprofile_path(driverprofile) %></td>
        <td><%= link_to 'Destroy', driverprofile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Driverprofile', new_driverprofile_path %>
