
<!DOCTYPE html>
<html>
<head>
  <title>Ambulanceforce admin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%#= csrf_meta_tags %>
  <style type="text/css">
			body { background-image: url(/assets/img/bg-logi1n.jpg) !important;  }
      .logincol{background-color:#cb2c32}
		</style>
</head>
<body class="logincol">
<div class="container-fluid">
		<div class="row-fluid">
					
			<div class="row-fluid">
				<div class="login-box">
					<!--<div class="icons">
						<a href="#"><i class="icon-home"></i></a>
						<a href="#"><i class="icon-cog"></i></a>
					</div>-->
					<h2>Login to your account</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => "form-horizontal"}) do |f| %>
<fieldset>
<div class="input-prepend" title="Username">
  <%#= f.label :email %>
  <span class="add-on"><i class="icon-user"></i></span>
  <%= f.email_field :email, autofocus: true,:class=>"input-large span10",:placeholder=>"type email id" %>
  </div>
  <div class="clearfix"></div>

  <div class="input-prepend" title="Password">
  <%#= f.label :password %>
  <span class="add-on"><i class="icon-lock"></i></span>
    <%= f.password_field :password, autocomplete: "off",:class=>"input-large span10",:placeholder=>"type password" %>
    </div>
    <div class="clearfix"></div>

  <%# if devise_mapping.rememberable? -%>
     <%#= f.label :remember_me,:class=>"remember" do %>
     <%#= f.check_box :remember_me,:id=>"remember" %><!--Remember me-->
    <%# end %>
  <%# end -%>

  <div class="button-login">	
  <%#= f.submit "Log in" %>
  <button type="submit" class="btn btn-primary"><i class="icon-off icon-white"></i> Login</button>
  </div>
 <div class="clearfix"></div>
 </fieldset>
<% end %>
<hr>
<h3><%#= render "admins/shared/links" %></h3>
						
				</div><!--/span-->
			</div><!--/row-->
			
				</div><!--/fluid-row-->
				
	</div><!--/.fluid-container-->

<%#= render "admins/shared/links" %>
</body>
</html>
