<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vendor.vendor.name %>	
</p>
<strong>image:</strong><p>
<%= image_tag @vendor.vendor.avatar.url(:thumb) %></p>

<%= link_to 'Edit', edit_admin_vendor_path(@vendor) %> |
<%= link_to 'Back', admin_vendors_path %>

<div class="left"><%= link_to 'Vehicle', admin_vendor_vehicles_url(@vendor.vendor,@vehicle) %> </div>
<div class="right"><%= link_to 'Driver', admin_vendor_drivers_url(@vendor.vendor,@driver) %> </div>

